mixin about-block
  .about-block.js-slider-about
    .about-block__slider.swiper-container
      .swiper-wrapper
        .swiper-slide.about-block__slide
          span.about-block__overlay
          .about-block__image
            img(src="assets/images/about/about_1.jpg")
          .about-block__image-map
            img(src="assets/images/about/about_1_map.jpg")
          .about-block__box
            h5.about-block__title Природный комплекс заповедника «Остров Врангеля 123»
            p.about-block__text Вот вам яркий пример современных тенденций - высокотехнологичная концепция общественного уклада предоставляет широкие возможности для позиций…
            a.button.button_primary.button_large.about-block__button(href='#') Подробнее об объекте
        .swiper-slide.about-block__slide
          span.about-block__overlay
          .about-block__image
            img(src="assets/images/about/about_1.jpg")
          .about-block__image-map
            img(src="assets/images/about/about_1_map.jpg")
          .about-block__box
            h5.about-block__title Природный комплекс заповедника «Остров Врангеля»
            p.about-block__text Вот вам яркий пример современных тенденций - высокотехнологичная концепция общественного уклада предоставляет широкие возможности для позиций…
            a.button.button_primary.button_large.about-block__button(href='#') Подробнее об объекте
      .about-block__navs.slider-nav
        .slider-nav__item.slider-nav__item_prev
          i.icon
            svg(viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M7.16666 13L1.75591 7.58926C1.43048 7.26382 1.43048 6.73618 1.75591 6.41074L7.16666 1" stroke="black" stroke-width="2" stroke-linecap="round")
        .slider-nav__item.slider-nav__item_next
          i.icon
            svg(viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M7.16666 13L1.75591 7.58926C1.43048 7.26382 1.43048 6.73618 1.75591 6.41074L7.16666 1" stroke="black" stroke-width="2" stroke-linecap="round")

