
$primary: $g-color-primary
$white: $g-color-white

$fz-m: $g-xs-font-size
$fz-l: $g-s-font-size

$bradius: 2px

.button
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 12px 24px
  border: 1px solid transparent
  border-radius: $bradius
  background-color: transparent
  font-size: $fz-m
  font-weight: $g-font-weight-500
  color: $primary
  cursor: pointer
  outline: none
  transition: $transition
  text-decoration: none
  white-space: nowrap
  &:disabled
    opacity: 0.4
    pointer-events: none

  &_large
    padding: 16px 32px
    font-size: $fz-l

  &_primary
    background-color: $primary
    border-color: $primary
    color: $white
    &:hover,
    &:focus
      background-color: lighten($primary, 5%)
      border-color: lighten($primary, 5%)

  &_outline
    background-color: transparent
    border-color: $primary
    color: $primary
    &:hover,
    &:focus
      background-color: $primary
      color: $white


@media (max-width: $bp-s)
  .button
    padding: 8px 16px
