mixin form
  .form&attributes(attributes)
    h2.form__title Возник вопрос?
    p.form__subtitle Напишите нам через форму обратной связи, и мы свяжемся с вами в ближайшее время.
    form(name="callback")
      .form__field
        label.form__label Имя
        .form__control
          input.form__input(type="text" placeholder="Введите ваше имя" required)
      .form__field
        label.form__label Электронная почта
        .form__control
          input.form__input(type="text" placeholder="Введите эл. почту" required)
      .form__field
        label.form__label Ваш вопрос
        .form__control
          textarea.form__input(rows='6')
      .form__actions
        button.button.button_primary Отправить
        p.form__politic Нажимая кнопку, вы соглашаетесь с условиями обработки <a href="#">персональных данных</a>

