.experts-slider
  &__title
    margin-bottom: 16px
    .title-block__title
      font-size: $g-m-font-size
  &__navs
    .swiper-button-disabled
      opacity: 0.1
      pointer-events: none
  &__slider
    // width: 100%
  &__slide
    // margin: 0 8px
    img
      width: 100%
