.tabs
  &__head
    position: relative
    display: flex
    align-items: center
    min-height: 110px
    &::before,
    &::after
      content: ''
      position: absolute
      left: 0
      width: 100%
      height: 1px
      background-color: $g-color-black
      z-index: -1
    &::before
      top: 5px
    &::after
      bottom: 5px
  &__tab
    background-color: $g-color-white
    padding: 8px 48px
    font-weight: $g-font-weight-500
    cursor: pointer
    transition: color 0.25s
    &:hover
      color: $g-color-primary
    &.is-active
      margin: 0 56px
      font-size: 72px
      font-weight: $g-font-weight-400
      color: $g-color-primary
      pointer-events: none
  &__body
    position: relative
  &__panel
    position: absolute
    visibility: hidden
    opacity: 0
    display: none
    &.is-active
      display: block
      position: static
      visibility: visible
      opacity: 1

@media (max-width: $bp-m)
  .tabs
    &__head
      min-height: auto
      flex-wrap: wrap
      &::before,
      &::after
        content: none
    &__tab
      width: 33.33%
      display: inline-flex
      align-items: center
      min-height: 54px
      padding: 4px 16px 4px 0
      font-size: $g-xxl-font-size
      &.is-active
        font-size: $g-xxxl-font-size
        margin: 0
