.article
  &__inner
    display: flex
    flex-direction: column
    margin-bottom: 68px
    &_min
      max-width: 100%
      width: 860px
    & > *
      margin-top: 48px
      &:first-child
        margin-top: 0

  a
    color: $g-color-primary
    text-decoration: none
    transition: $transition
    &:hover
      opacity: 0.6

  ul
    list-style: none
    padding-left: 32px
    opacity: 0.8
  li
    margin-bottom: 24px
    &:before
      content: '\2014';
      position: absolute;
      margin-left: -32px;
  p
    opacity: 0.8

  h1
    font-size: $g-xxxxl-font-size
    font-weight: $g-font-weight-500
    line-height: 1.2

  h3
    font-size: $g-xxl-font-size
    font-weight: $g-font-weight-500

  img
    width: 100%
  img + small
    font-size: $g-xs-font-size
    font-weight: $g-font-weight-500
    font-style: italic
    margin-top: 16px

  time
    font-size: $g-xxs-font-size
    font-weight: $g-font-weight-500
    opacity: 0.4
    span
      margin-right: 32px

  * + time
    margin-top: 24px

  time + *
    margin-top: 32px

  &__slider
    position: relative
    width: 100%
  &__navs
    display: inline-flex
    position: absolute
    top: 0
    right: 0
    z-index: 1
    background-color: $g-color-white
    .swiper-button-disabled
      opacity: 0.1
      pointer-events: none

  &__blockquote
    position: relative
    padding: 48px 0
    border-top: 1px solid $g-color-black
    border-bottom: 1px solid $g-color-black
    p
      font-size: $g-l-font-size
      font-weight: $g-font-weight-500
    .expert-board
      justify-content: flex-start
      margin-bottom: 24px
  &__quote
    position: absolute
    width: 74px
    height: 24px
    display: inline-block
    background-color: $g-color-white
    &::before
      content: ''
      display: inline-block
      background: url('../images/icons/quote.svg')
      height: 24px
      width: 32px
    &_up
      left: 0
      top: -12px
    &_down
      right: 0
      bottom: -12px
      transform: rotate(180deg)

@media (max-width: $bp-m)
  .article
    &__inner
      & > *
        margin-top: 24px
        &:first-child
          margin-top: 0
    ul
      padding-left: 24px
    li
      margin-bottom: 16px
      &:before
        margin-left: -24px
    &__blockquote
      padding: 24px 0
    &__quote
      width: 48px
    img + small
      margin-top: 8px
    time
      display: flex
      flex-direction: column-reverse
      span
        margin-right: 0
        margin-bottom: 8px
