.timer
  &__wrap
    position: relative
    display: flex
    justify-content: center
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 0
      display: inline-flex
      width: 100%
      height: 2px
      background-color: $g-color-primary
      z-index: -1
  &__box
    display: inline-flex
    background-color: $g-color-white
    padding: 12px 28px
  &__item
    display: inline-flex
    flex-direction: column
    margin: 0 20px
    text-align: center
  &__number
    font-size: 2.8rem
    font-weight: $g-font-weight-500
  &__text
    width: 100%
    font-size: $g-s-font-size
    font-weight: $g-font-weight-500
    color: $g-color-grey-light-2
  &__title
    background-color: $g-color-white
    padding: 8px 48px
    font-size: $g-xxl-font-size
    font-weight: $g-font-weight-500

@media (max-width: $bp-xs)
  .timer
    &__item
      margin: 0 8px
    &__box
      padding: 0 16px
