extends ../layouts/default

block variables
  - var title = "Мероприятия"
  - var pageClass = ''
  - var activePage = 'events'

block content
  section.section.section_large
    .tabs(data-tabs='item_1')
      .container
        .tabs__head(data-tabs-head)
          span.tabs__tab(data-tabs-tab='item_1') 21.09
          span.tabs__tab(data-tabs-tab='item_2') 22.09
          span.tabs__tab(data-tabs-tab='item_3') 23.09
          span.tabs__tab(data-tabs-tab='item_4') 24.09
          span.tabs__tab(data-tabs-tab='item_5') 25.09
      .tabs__body.events(data-tabs-body)
        .tabs__panel(data-tabs-panel='item_1')
          .events__item.is-active
            .container
              .events__time
                span 13:00 — 14:00
            .events__wrap
              .container
                .events__inner
                  +live-block
          .events__item
            .container
              .events__time
                span 14:00 — 15:00
            .events__wrap
              .container
                .events__inner
                  +live-block


        .tabs__panel(data-tabs-panel='item_2') panel 2
        .tabs__panel(data-tabs-panel='item_3') panel 3
        .tabs__panel(data-tabs-panel='item_4') panel 4
        .tabs__panel(data-tabs-panel='item_5') panel 5

