extends ../layouts/default

block variables
  - var title = "Эксперт"
  - var pageClass = ''
  - var activePage = 'expert-page'

block content
  section.section
    .container
      .expert-page
        .expert-page__title Константинопольский Константин
        .expert-page__board.expert-board
          .expert-board__content
            .expert-board__image
              img(src="assets/images/experts/expert_1.jpg")
            .expert-board__box
              .expert-board__title Константинопольский Константин
              .expert-board__text Заместитель генерального директора, начальник Центра фирменного транспортного обслуживания
        .expert-page__info
          .faq(data-faq='true')
            .faq__head(data-faq-head)
              span.faq__title Биография
              i.icon.faq__arrow
                svg(viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0.123825 0.130653C0.288924 -0.0435511 0.556604 -0.0435511 0.721704 0.130653L4 3.58974L7.2783 0.130653C7.4434 -0.0435511 7.71108 -0.0435511 7.87617 0.130653C8.04127 0.304858 8.04127 0.587299 7.87617 0.761504L4.29894 4.53601C4.13384 4.71022 3.86616 4.71022 3.70106 4.53601L0.123825 0.761504C-0.0412749 0.587299 -0.0412749 0.304858 0.123825 0.130653Z" fill="black")
            .faq__body(data-faq-body)
              .faq__content
                p Предварительные выводы неутешительны: постоянный количественный рост и сфера нашей активности предопределяет высокую востребованность глубокомысленных рассуждений. В рамках спецификации современных стандартов, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали.
          .faq(data-faq)
            .faq__head(data-faq-head)
              span.faq__title Биография
              i.icon.faq__arrow
                svg(viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0.123825 0.130653C0.288924 -0.0435511 0.556604 -0.0435511 0.721704 0.130653L4 3.58974L7.2783 0.130653C7.4434 -0.0435511 7.71108 -0.0435511 7.87617 0.130653C8.04127 0.304858 8.04127 0.587299 7.87617 0.761504L4.29894 4.53601C4.13384 4.71022 3.86616 4.71022 3.70106 4.53601L0.123825 0.761504C-0.0412749 0.587299 -0.0412749 0.304858 0.123825 0.130653Z" fill="black")
            .faq__body(data-faq-body)
              .faq__content
                p Предварительные выводы неутешительны: постоянный количественный рост и сфера нашей активности предопределяет высокую востребованность глубокомысленных рассуждений. В рамках спецификации современных стандартов, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали.
