.modal
  $modal: &
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: none
  justify-content: center
  align-items: center
  padding: 32px
  background-color: rgba(0, 0, 0, 0.45)
  z-index: 100
  overflow: auto
  backdrop-filter: blur(5px)
  &.show
    display: flex
    animation: fadeIn 0.2s ease-in-out forwards
    .modal__content
      animation: fadeIn 0.2s ease-in-out forwards
  &.hide
    animation: fadeOut 0.2s ease-in-out forwards
    .modal__content
      animation: fadeOut 0.2s ease-in-out forwards
  &__content
    display: flex
    margin: auto
    max-width: 100%

  &_live
    background-color: $g-color-white
    #{$modal}__close
      position: absolute
      top: 60px
      right: 60px
      outline: none
      cursor: pointer
      width: 30px
      height: 30px
      path
        transition: $transition
      &:hover
        path
          fill: $g-color-primary
    .title-block
      margin-bottom: 56px

  &_form
    padding: 0
    #{$modal}
      &__content
        margin-right: 0
      &__close
        position: absolute
        top: 44px
        right: 44px
        outline: none
        cursor: pointer
        width: 16px
        height: 16px
        path
          transition: $transition
        &:hover
          path
            fill: $g-color-primary
    .form
      position: relative
      background-color: $g-color-white
      padding: 60px 40px 48px
      width: 560px


@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0
