.live-block
  display: flex
  &__video
    width: 60%
    height: auto
  &__content
    width: 40%
    padding-left: 80px
  &__sup
    display: inline-block
    font-size: $g-xs-font-size
    font-weight: $g-font-weight-500
    opacity: 0.5
    margin-bottom: 16px
  &__title
    font-size: $g-xxl-font-size
    font-weight: $g-font-weight-700
    margin-bottom: 12px
  &__text
    font-size: $g-xs-font-size
    opacity: 0.8
    margin-bottom: 32px
  &__onward
    display: flex
    padding-top: 12px
    border-top: 1px solid $g-color-grey-light-3
    span
      display: inline-block
      font-size: $g-xs-font-size
      &:first-child
        margin-right: 12px
        opacity: 0.5
        font-weight: $g-font-weight-500
      &:last-child
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
  &__experts
    margin-bottom: 32px

@media (max-width: $bp-l)
  .live-block
    &__content
      padding-left: 40px

@media (max-width: $bp-m)
  .live-block
    flex-direction: column
    &__video
      width: 100%
      height: 300px
      margin-bottom: 16px
    &__content
      width: 100%
      padding-left: 0

@media (max-width: $bp-s)
  .live-block
    &__video
      height: 200px

@media (max-width: $bp-xs)
  .live-block
    &__title
      line-height: 1.2
    &__text
      font-size: $g-s-font-size
      margin-bottom: 16px
    &__experts
      margin-bottom: 16px
    &__sup
      margin-bottom: 8px
