mixin live-block
  .live-block
    .live-block__video.broadcast
    .live-block__content
      span.live-block__sup Пленарная видеоконференция
      h5.live-block__title Сохранение наследия в условиях пандемии
      p.live-block__text А также интерактивные прототипы освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, описаны максимально подробно. Господа, глубокий уровень погружения создаёт
      .live-block__experts.experts-slider.js-slider-experts
        .title-block.experts-slider__title
          span.title-block__title Эксперты
          .experts-slider__navs.slider-nav
            .slider-nav__item.slider-nav__item_prev
              i.icon
                svg(viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M7.16666 13L1.75591 7.58926C1.43048 7.26382 1.43048 6.73618 1.75591 6.41074L7.16666 1" stroke="black" stroke-width="2" stroke-linecap="round")
            .slider-nav__item.slider-nav__item_next
              i.icon
                svg(viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M7.16666 13L1.75591 7.58926C1.43048 7.26382 1.43048 6.73618 1.75591 6.41074L7.16666 1" stroke="black" stroke-width="2" stroke-linecap="round")
        .experts-slider__slider.swiper-container
          .swiper-wrapper
            a.experts-slider__slide.swiper-slide(href="#")
              img(src="assets/images/experts/expert_1.jpg")
            a.experts-slider__slide.swiper-slide(href="#")
              img(src="assets/images/experts/expert_1.jpg")
            a.experts-slider__slide.swiper-slide(href="#")
              img(src="assets/images/experts/expert_1.jpg")
            a.experts-slider__slide.swiper-slide(href="#")
              img(src="assets/images/experts/expert_1.jpg")
            a.experts-slider__slide.swiper-slide(href="#")
              img(src="assets/images/experts/expert_1.jpg")
      .live-block__onward
        span Далее:
        span Онлайн-интервью зарубежных экспертов в Онлайн-интервью
