footer.footer
  .container
    span.footer__bg
    .footer__inner
      .footer__left
        .footer__box
          img.footer__logo.logo(src="assets/images/logo.svg")
          .footer__orgs
            img.footer__org(src="assets/images/orgs/org_1.svg")
            img.footer__org(src="assets/images/orgs/org_2.svg")
            img.footer__org(src="assets/images/orgs/org_3.svg")
          //-.footer__title Международный экспертный совет по вопросам сохранения и реставрации объектов культурного наследия
      .footer__right
        .footer__nav
          span.footer__nav-title Навигация
          a.footer__item(href="#") Главная
          a.footer__item(href="#") Эксперты
          a.footer__item(href="#") Мероприятия
          a.footer__item(href="#") Архив
        .footer__nav
          span.footer__nav-title Мы на связи
          a.footer__contact.footer__contact_mail(href="mailto:info@example.ru") info@example.ru
          //-span.footer__contact.footer__contact_address Адрес организации: 105066, Москва, ул. Старая Басманная, 38/2, строение 3
          button.button.button_outline.footer__ask-button Задать вопрос
      .footer__bottom
          span.footer__copy &copy; Все права защищены, 2020 год

+modal
