.lang
  &__item
    font-size: $g-xs-font-size
    opacity: 0.4
    margin: 0 12px
    transition: $transition
    cursor: pointer
    &:hover
      opacity: 1
    &.is-active
      opacity: 1
      pointer-events: none
  &__line
    opacity: 0.4
