.contacts
  display: flex
  &__left,
  &__right
    width: 50%
  &__title
    font-size: $g-xxxxl-font-size
    font-weight: $g-font-weight-700
    line-height: 1.2
    margin-bottom: 8px
  &__subtitle
    font-size: $g-l-font-size
    font-weight: $g-font-weight-500
    margin-bottom: 56px
  &__quote
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-start
    padding-left: 56px
    margin-bottom: 72px
    &::before
      content: ''
      display: inline-block
      position: absolute
      top: 0
      left: 0
      width: 16px
      height: 100%
      background-color: $g-color-primary
  &__contact
    font-weight: $g-font-weight-500
    text-decoration: none
    transition: $transition
    &:hover,
    &:focus
      color: $g-color-primary
    &_tel
      font-size: 2.8rem
    &_mail
      font-size: $g-xxl-font-size
  &__form
    margin: 0 auto

@media (max-width: $bp-m)
  .contacts
    flex-direction: column
    &__left,
    &__right
      width: 100%
      margin-bottom: 32px
    &__form
      margin-left: 0
    &__contact
      &_tel
        font-size: 2rem
